# fly.toml app configuration file generated for rift-rewind-backend
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "rift-rewind-backend"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"
  ignorefile = ".dockerignore"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[http_service.checks]]
  grace_period = "60s"
  interval = "30s"
  method = "GET"
  timeout = "10s"
  path = "/api/health/ping"
  
[http_service.concurrency]
  type = "requests"
  soft_limit = 200
  hard_limit = 250

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 2048
