.spinner {
  display: inline-block;
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: var(--gray-300);
  border-top-color: var(--black);
  animation: spin 0.8s linear infinite;
}

.small .circle {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.medium .circle {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

.large .circle {
  width: 48px;
  height: 48px;
  border-width: 4px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
