.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
  margin-top: 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: var(--text-primary);
}

.emoji {
  width: 3rem;
  height: 3rem;
}

.large .title {
  font-size: 3rem;
}

.small .title {
  font-size: 2rem;
}